<style>
    #carthdr-topnav {
        display: flex;
        color:white;
        background-color:#5DADE2;
        padding-top:5px;
        padding-bottom:5px;
        padding-left:20px;
    }
    #carthdr-innernav {
        padding-top:30px;
        font-size:20px;
    }
    #carthdr-innernav span {
        color:#D35400;
    }
</style>