<style>
    #topdiv {
        display: flex;
        color:white;
        background-color:black;
        padding-top:5px; 
        padding-bottom:5px;
        padding-left:20px;
    }
    #topdiv h1 {
        width:80%;
    }
    #inndiv {
        padding-top:30px;
        font-size:20px;
    }
    #inndiv span {
        color:#5FE75A;
    }
</style>